/* Navigation styling */


/* Every element inside the navigation */
nav *{
    color: white !important;
}

/* Every element inside the navigation bar */
.nav-item{
    margin: 0px 5px;
}

/* Color of the navigation */
nav,
.dropdown-menu{
    background-color: #009dc4;
}

/* Hover color for the elements inside the navigation */
.bg-green,
.nav-item:not(.nav-button):hover,
.nav-item.show,
.dropdown-item:hover{
    background-color: #28a745;
}


/* Button as anchor */
.buttton-as-anchor{
    background-color: transparent;
    border: none;
}

/* Outline of button inside the navigation */
nav button:focus{
    outline: none;
}

/* Mouse styling for the elements inside the navigation */
.nav-item,
.nav-item > button:not(#run-button:disabled),
.dropdown-item{
    cursor: pointer;
}

#run-button:disabled{
    background-color: #dc3545;
}

/* /Navigation styling */


/* Node styling */

td:not(#start):not(#end):not(#weight):not(#weightNext):not(#weightFound):not(#weightFastest){
    width: 15px;
    height: 15px;
    padding: 7.5px;
}  

#start,
#end,
#weight,
#weightNext,
#weightFound,
#weightFastest{
    width: 17px;
    height: 17px;
}

#wall{
    background-color: black;
}

#found, 
#weightFound{
    background-color: #007bff;
}

#next, 
#weightNext{
    background-color: slateblue;
}

#fastest, 
#weightFastest{
    background-color: #ffc107;
}

/* /Node styling */