.cellInformation .cell {
    max-width: 24px;
}

.cell {
    padding: 12px;
}

.cell:has(svg) {
    padding: 0px;
    text-align: center;
}

.start {
    background-color: #28a745;
}

.end {
    background-color: #dc3545;
}

.wall {
    background-color: #343a40;
}

.visited {
    background-color: lightskyblue;
}

.next {
    background-color: lightpink;
}