.cell,
.cell-example {
    height: 3.5vh;
    width: 3.5vh;
    border: 1px solid black;

    // Center the SVG
    &.start,
    &.end,
    &[class*="weight"] {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 75%;
    }

    &.start {
        background-image:url('cellIcons/start.svg');
        background-color: #28a745;
    }

    &.end {
        background-image:url('cellIcons/end.svg');
        background-color: #dc3545;
    }

    &.wall {
        background-color: #343a40;
    }

    &[class*="weight"] {
        background-image:url('cellIcons/weight.svg');
    }

    &[class*="visited"] {
        background-color: lightskyblue;
    }

    &[class*="queued"] {
        background-color: lightpink;
    }

    &[class*="route"] {
        background-color: yellow;
    }
}