.cell {
    width: 3.5vh;
    height: 3.5vh;
    border: 1px solid black;

    &.start,
    &.end,
    &[data-weight='10'] {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 75%;
    }

    &.start {
        background-image:url('cellIcons/start.svg');
        background-color: #28a745;
    }

    &.end {
        background-image:url('cellIcons/end.svg');
        background-color: #dc3545;
    }

    &[data-weight='10'] {
        background-image:url('cellIcons/weightTen.svg');
    }

    &.wall {
        background-color: #343a40;
    }

    &.visited {
        background-color: lightskyblue;
    }

    &.queued {
        background-color: lightpink;
    }

    &.fastest {
        background-color: yellow;
    }
}