.dropdown-toggle {
    // When the dropdown is open, or the user left clicks on the toggle button
    &.show,
    &:active:hover {
        background-color: #28a745 !important;
        color: white !important;
    }

    // When the user hovers over the toggle button
    &:hover {
        color: #28a745;
    }

    background-color: transparent !important;
    border-color: transparent !important;
}

.dropdown-item {
    &:hover:not(.active) {
        background-color: #28a745;
    }

    .active {
        color: #212529;
    }
}